
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bowlby+One+SC&family=Passion+One:wght@400;700;900&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
h1 {
    font-size: 55px;
    line-height: 64px;
    color: #222;

}
h2 {
    font-size: 50px;
    line-height: 54px;
    color: #222;
}
h4 {
    font-size: 30px;
    color: #222;
}
h6 {
    font-weight: 800;
    font-size: 15px;
}
p {
    font-size: 20px;
    color: #ffff;
    margin: 15px 0 20px;
}
.section-p1{
    padding:40px 80px;
    background-color: #fff;
}
.section-m1{
    margin: 40px 0;
}
button.normal {
    font-size:14px;
    font-weight: 600;
    padding: 15px 30px;
    
    color:#f0efec;
    background-color:rgb(37, 36, 36);
    border-radius: 4px;
    cursor: pointer;
    border:none;
    outline:none;
    transition: .2s;  
}
button.white {
    font-size:14px;
    font-weight: 600;
    padding: 11px 18px;
    color:#f0efec;
    background-color:transparent;
    border-radius: 4px;
    cursor: pointer;
    border:1px solid #F0eFec;
    outline:none;
    transition: .2s;  
}
button.normal:hover{
    background-color:#D73853;
}
body{
    width: 100%;
}
#header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px 50px;
    
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
    z-index: 999;
    position:sticky;
    top: 0%;
    left: 0%;
    background-color: #f0efec;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#navbar li{   
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: .3s ease;
}
#navbar li a:hover, 
#navbar li a.active
{
    color: #2ECC71;
}
#navbar li a.active::after,
#navbar li a:hover::after
{
    content:"";
    width: 30%;
    height: 2px;
    background:#2ECC71;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}

/* HOME */
#hero{
    background-image: url("E-commerce/portada4.jpg.png");
    width: 100%;
    height:90vh;
    background-size: cover;
    background-position: top 50% right 20%;
    padding: 0 80px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0 , 0.8);
}
#hero h1{
    color: #f0efec;
    text-shadow: 1px 1px 5px rgba(0, 0, 0 , 0.8);
    font-family: 'Bowlby One SC', cursive;
}
#hero h2 {
    color: #2ECC71;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    font-family: 'Bowlby One SC', cursive;
    letter-spacing: 5px;
}
#hero p{
    color: #FFFFFF;
    text-shadow: 1px 3px 5px rgba(0, 0, 0 , 0.8);
}
#hero button{
    width: 150px;
    height: 50px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    background-color: #2ECC71;
    border:0;
    box-shadow: 0px 1px 0 0px rgba(0, 0, 0 , 0.6);
    color:rgb(255, 255, 255);
    font-size:14px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0 , 0.8);
    border-radius: 25px;
    
}
#hero button:hover{
    width:160px;
    height:55px;
    background-color: #F39C12  ;
    transition: .2s ease;
    color:#452905;


}

#features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
#features .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.07);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0; 
}
.fe-box img{
    width:100px;
    height: 100px;
    margin-bottom: 10px;
}
#features .fe-box:hover{
    box-shadow: 19px 19px 54px rgba(70, 62, 221, 0.02);
}
#features .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #ff6092;
    background-color: #f0e0ea;
}
#features .fe-box:nth-child(2) h6{
    background-color: #bae817;
    color: #11ba68;
}
#features .fe-box:nth-child(3) h6{
    background-color: #bdeaee;
    color: #4230b6;
}
#features .fe-box:nth-child(4) h6{
    background-color: #e6bdee;
    color: #be2bc5;
}
#features .fe-box:nth-child(5) h6{
    background-color: #fee59a;
    color: #d99607;
}
#destacados{
 text-align: center;

}
#destacados .pro-container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    flex-wrap: wrap;
}
#destacados p{
    font-size:21px;
    color: #b3adad
}
#destacados .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    background-color: #f0efec;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: .2s ease;
    position: relative;
}
#destacados .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}
#destacados .pro img{
    width: 100%;
    border-radius: 20px;
}

#destacados .pro .des{
    text-align: start;
    padding-top: 7px;    
}
#destacados .pro .des span{
    color: #606063;
    font-size: 14px;
    padding-top: 7px;
}
#destacados .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 16px;
}
#destacados .pro .des i{
    padding-top: 7px;
    font-size: 12px;
    color:#edcb0c;
}
#destacados .pro .des h4{
    padding-top: 7px;
    font-size:22px;
    font-weight: 800;
    color:#088178;
}
#destacados .pro a{
    width: 50px;
    height:50px;
    color:#088178;
    line-height: 50px;
    border-radius:50px;
    background-color: #d4d6d7;
    font-weight: 500;
    border: 1px solid #cce7d0;
    position:absolute;
    bottom:20px;
    right:5px;

}
#banner{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align: center;
    background-image: url("E-commerce/portada2.png");
    width: 100%;
    height:35vh;
    background-size:cover;
    background-position: center;
}
#banner h4{
    color: rgb(37, 36, 36);
    font-size:30px;
    padding: 0 10px;
    text-shadow:  1px 3px rgba(255, 255, 255 , 0.4);
}
#banner h2{
    color: rgb(37, 36, 36);
    font-size:45px;
    font-family: 'Alfa Slab One', cursive;
    padding: 10px 10px;  
    text-shadow:  1px 2px rgba(255, 255,255 , 0.4);
}
#banner h2 span{
    color: #D73853;
    font-size: 55px;
}
#sm-banner{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    text-align: center;
    background-image: url("E-commerce/portada5.jpg");
    min-width: 47%;
    height:40vh;
    background-size: cover;
    background-position: center;
    padding:30px;
}
#sm-banner .banner-box2{
    background-image: url("E-commerce/-hacer-deporte.png");
    background-size: cover;
}
#sm-banner h4{
  color: rgb(25, 24, 24);
  font-size: 20px;
  font-weight: 500;  
}
#sm-banner h2{
    color: #fff;
    font-size: 40px;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 800;  
  }
  #sm-banner  span{
    color: #fff;
    font-size: 16px;
    font-weight: 500; 
    padding-bottom: 15px;
  }
  #sm-banner .banner-box:hover button{
    background-color:#11ba68;
    border: 2px solid #11ba68;
    transition: .3s;
  }
  #banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    padding: 0 80px;
  }
  #banner3 .banner-box{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    text-align: center;
    background-image: url("E-commerce/mujer\ corriendo.jpg");
    min-width: 30%;
    height:25vh;
    background-size: cover;
    background-position: center;  
}
#banner3 .banner-box2{
    background-image: url("E-commerce/portada3.png");

}
#banner3 .banner-box3{
    background-image: url("E-commerce/unnamed-25-1024x683.jpg");
}
#banner3 h2{
    color:#d871df;
    font-weight: 900;
    font-size: 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #e9e5e5;
}
#banner3 h3{
    color: #122895;
    font-weight: 800;
    text-shadow: 0 1px 0px rgba(255,255,255,0.7)
}
#news-letter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:center;
    background-color: #122895;
    background-position: center;    
}
#news-letter h3{
    font-size: 25px;
    color: #b1b9c3 ;
    font-family:'Passion-One';
    font-weight:700;
}
#news-letter p {
    font-size:16px;
    color: #f2f4f6;
    font-weight: 500;
}
#news-letter span{
    color:#fab047;
}
#news-letter .form{
    display:flex;
    width: 40%;

}
#news-letter input{
    height:3.125rem;
    padding: 0 1.25rem ;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#news-letter button {
   background-color: #11ba68; 
   color: #fff;
   white-space: nowrap;
   border: 1px solid #11ba68;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    min-width: 20%;
    margin-bottom: 10px;
    margin-right: 20px;
}
footer .logo{
    margin-bottom: 20px;
}
footer h3{
    font-size: 18px;
    padding-bottom: 20px;  
}
footer p{
    font-size: 15px;
    margin: 0 0 8px 0;
    color: #000; 
}
footer a{
    font-size: 12px;
    text-decoration: none;
    margin-bottom: 10px;
    color: #222; 
}
footer .follow{
    margin-top: 30px; 
}
footer .follow i{
    color:#465b52;
    padding-right: 4px;
    cursor: pointer;
}
footer .instalar .row img{
    border: 1px solid #3ea8f3;
    border-radius: 6px;
}
footer .instalar img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer  a:hover
{
    color:#3ea8f3; 
}
footer .copyright{
   width: 100%;
   text-align: center;  
   font-size: 20px;
}

/* SHOP */

#page-header{
    background-image: url('E-commerce/BannerShopI.jpg');
    width: 100%;
    height: 50vh;
    background-size: cover;
    display:flex;
    justify-content: center;
    text-align: flex-start;
    flex-direction: column;
    padding:14px;
}
#page-header h2,
#page-header p{
    color:#1d1e1e;   
}
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #2ECC71;
    padding: 15px 30px;
    border: 4px;
    color: #fff;
    font-weight: 600;
}
#pagination a i{
    font-size: 18px;
    font-weight: 600;
}

/*Single-Producto*/
#product-detail {
    display: flex;
    margin-top:20px;
}
#product-detail .single-img{
    width: 40%;
    margin-right: 50px;
    background-color: #f0efec;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
}
.small-img-group{
    display: flex;
    justify-content:space-between;  
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
#product-detail .single-pro-details{
    width:50%;
    padding-top: 30px;
}
#product-detail .single-pro-details h4{
    padding: 40px 0 20px 0;
}
#product-detail .single-pro-details h2{
    font-size: 30px;
}
#product-detail .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#product-detail .single-pro-details input{
    width: 80px;
    height: 45px;
    padding-left: 20px;
    font-size:16px;
    padding-right: 10px;
}
#product-detail .single-pro-details input:focus{
    outline:none;
}
#product-detail .single-pro-details button{
    background: #2ECC71;
    color: #fff;
}
#product-detail .single-pro-details span {
    line-height:25px;
}

/* BLOG PAGE */
#page-header.blog-header{
    background-image: url('E-commerce/banner-blog.png');

    
}
#page-header.blog-header h2,
#page-header.blog-header p{
    color:#e7e8e8;   
}

#blog{
    padding:150px 150px 40px 150px;
}
#blog .blog-box{
   display: flex;
   align-items: center;
   width: 100%; 
   position: relative;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}
#blog img{
    width: 100%;
}
#blog .blog-details{
    width: 50%;
}
#blog .blog-details p{
    color:#212222;
}
#blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition:.3s;
}
#blog .blog-details a::after{
    content:"";
    width: 50px;
    height: 1px;
    background-color: #010;
    position: absolute;
    top:7px;
    right: -60px;
}
#blog .blog-details a:hover{
    color:#2ECC71;
}
#blog .blog-details a:hover::after{
    background-color:#2ECC71;
}
#blog .blog-box h1{
    position: absolute;
    top:-50px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color:#c6bfbf;
    z-index: -9;
}

/*queries*/
@media (max-width: 799px) {
    .section-p1{
        padding:40px 40px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position:fixed;
        top: 0;
        right:-300px;
        height:100vh;
        width: 300px;  
        background-color: #f0efec; 
        box-shadow: 0 40px 60px rgba(0,0,0,.1); 
        padding: 80px 0 0 10px;
        transition: .3s ease;  
    }
    #navbar.active{
        right:0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
        cursor: pointer;
    }
    #close{
        position: absolute;
        display: initial;
        top: 30px;
        left: 30px;
        font-size:24px;
        color: #000; 
    }
    #hero{
        height:70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #features{
        text-align: center;
    }
    #features .fe-box{
        margin: 15px 15px;
    }
    #destacados .pro-container{
        justify-content: center;
       
    }
    #destacados .pro{
        margin: 15px;
    }
    #banner{
        height: 30vh;
    }
    #sm-banner .banner-box{
        min-width: 100%;
        height: 30vh;
    }
    #banner3{
        padding: 0 40px;
    }
    #banner3 .banner-box{
        min-width: 28%;
    }
    #news-letter .form{
        width: 70%;
    }
}
@media(max-width:477px){
    .section-p1{
        padding:20px;
    }
    #header{
        padding:10px 30px;
    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 30px;
    }
    #hero{
        padding:0 20px;
        background-position: 55%;
    }
    #features{
        justify-content:space-between;
    }
    #features .fe-box{
        width:155px;
        margin: 0 0 15px 0;
    }
    #destacados .pro{
        width: 100%;
    }
    #banner{
        height: 40vh;
    }
    #sm-banner .banner-box{
        height: 40vh;
    }
    #sm-banner .banner-box2{
        margin-top: 20px;
    }
    #banner{
        padding: 0 20px;
    }
    #banner3 .banner-box{
        width: 100%;
    }
    #news-letter{
        padding: 40px 20px;
    }
    #news-letter .form{
        width: 100%;
    }
    /* single producto*/
    #product-detail{
        display: flex;
        flex-direction: column;
    }
    #product-detail .single-img {
        width: 100%;
        margin-right: 0px;
    }
    #product-detail .single-pro-details{
        width: 100%;
    }
}




   
    
